*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
Nugget/Nugget/bin/
Nugget/bin/
Nugget/Nugget/obj/
Nugget/obj/
Nugget/Content/obj/
!Nugget/x64
!Nugget/x86
!Nugget/Libraries
